.module-card {
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #444;
  color: white;
  max-width: 500px;
  margin: auto;
}

.module-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 12px;
  color: #ccc;
  text-transform: uppercase;
  border-bottom: 1px solid #333;
  padding-bottom: 4px;
}


.module-inner-card {
 display: flex;
 align-items:normal;
  margin-bottom: 15px;
  border: 0.5px solid #ddd;
  justify-content: space-between; 
  border-radius: 12px;
  padding: 10px;
  font-size: 1rem;
}

.module-inner-card-button {
  background-color: #333;
  border: none;
  padding: 5px 12px;
  font-size: 0.9rem;
  border-radius: 6px;
  color: white;
}

.card-body {
  color: #ddd;
  font-size: 1rem;
  padding: 16px;
}

/*This the question card */
.card {
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #444;
  color: white;
  max-width: 500px;
  margin: auto;
}